page-login {
  background: #fff;
  &:after {
    content: "";
    background-image: url('/assets/img/clear_polyhedrons_dark.png'), radial-gradient(1000px at 50% 50%, #ddd, #000);
    @include mq($from: tablet) {
      background-image: url('/assets/img/clear_polyhedrons_dark.png'), radial-gradient(2000px at 50% 50%, #ddd, #000);
    }
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  .guiSlider {
  	overflow-y: hidden;
    max-height: 0;
  	border-radius: 3px;
  	background: rgba(255, 255, 255, 0.7);
  	transition: max-height 0.6s ease-in-out;
  	opacity: 0.6;
  	color: $color-red;
    padding: 0;
    margin: 5px 16px 0 16px;
    span {
      margin: 5px;
      display: inline-block;
    }
    &.guiSliderOpen {
      max-height: 100px;
    	visibility: visible;
    }
  }
  ion-content {
    background: transparent !important;
  }
  .scroll-content {
    padding-bottom: 16px !important;
    // DISABLE SCROLLING
    overflow: hidden !important;
  }
  form {
    margin: 0 auto;
    width: 100%;
    @include mq($from: tablet) {
      width: 60%;
      max-width: 600px;
    }
  }
  .loginButtons {
    padding: 0 16px;
  }
  .guiDivider {
    color: #ccc;
    width: 60%;
    margin: 16px auto;
    overflow: hidden;
    text-align: center;
    line-height: 1.2em;
    &:after, &:before {
	    content: "";
	    vertical-align: top;
	    display: inline-block;
	    width: 50%;
	    height: 0.65em;
	    border-bottom: 1px solid #ccc;
	    margin: 0 2% 0 -60%;
    }
    &:before {
    	margin:0 -60% 0 2%;
    }
  }
  ion-list {
    margin-top: 5px !important;
    ion-item {
      opacity: 0.7;
      border: none !important;
      margin-bottom: 1px !important;
    }
  }
  h1 {
		font-family: "Helvetica Neue";
		padding: 0;
		margin: 0;
		font-weight: 200;
		color: $color-main;
    font-size: 4rem;
		text-align: center;
		span { font-weight: 600; color: #001934; }
    @include mq($from: tablet) {
      font-size: 8rem;
    }
	}
}
